.GameStats {
  position: absolute;
  width: 18vw;
  padding: 0 2vw;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
  right: 0;
  bottom: 0;
  text-align: right;
  .value {
    font-size: 2.8rem;
    margin-bottom: 0.5em;
    color: #fff;
  }
}