.preview {
  position: absolute;
  top: 0;
  right: 8vw;
  background: rgba(0, 0, 0, 0.1);
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  .preview-board {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 8vw;
    height: 8vw;
  }
}

@media screen and (max-width:800px) {
  .preview {
    right: 0;
    border: none;
    border-top: 5px solid rgba(0, 0, 0, 0);
    .preview-board {
      width: 10vw;
      height: 10vw;
    }
  }
}
